body{
  overflow: hidden;
  font-family: Helvetica, Arial, sans-serif;
}

html .container {
  max-width: 1004px;
  padding: 0 14px;
  margin: 0 auto;
}
html .t {
  display: table; width: 100%; height: 100%;
}
html .td {
  display: table-cell; vertical-align: middle;
}


a,
a:link,
a:visited,
a:hover
{
  color: #C90E0E;
  text-decoration: underline;
}

p{
  font-size: 18px;
  line-height: 1em;
  color: #fff;
}

input, textarea, button{
  color: #000;
}

/* ------------------------------------------------------------------------------------------------ */
/* Logo
/* ------------------------------------------------------------------------------------------------ */

header{
  position: absolute;
  z-index: 10000;
  width: 100%;
  text-align: center;
  width: 329px;
  height: 132px;
  left: 50%;
  margin-left: -164px;  
}

header .logo {
  width: 100%;
  height: 100%;
  display: block;
  background: url(../img/logo.png) no-repeat 0 0;
  margin-top: 20px;
}

header h1 {
  display: none;
}

header p{
  margin-top: 10px;
  font-size: 14px;
  color: #C90E0E;
}

#main .cta3{
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1002;
}

footer{
  position: absolute;
  left: 5%;
  bottom: 0px;
  width: 100%;
  color: #fff;

}

footer p{
    font-size: 14px;
}


footer .gopher{
  position: fixed;
  bottom: 0px;
  margin-bottom: -40px;
  left: 70%;
  width: 303px;
  height: 165px;
  background: url(../img/gopher.png) no-repeat;
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;  
}

footer .gopher:hover,
footer .gopher.over{
  margin-bottom: 0px;
}

footer .rvatine{
  width: 10px;
  height: 10px;
  display: inline-block;
  background: url(../img/rvatine.gif) no-repeat;
}

/* ------------------------------------------------------------------------------------------------ */
/* Main / Video block (Homepage - template_home)
/* ------------------------------------------------------------------------------------------------ */

body #main .block.intro {
  height: 100vh;
  min-height: 840px;
  position: relative;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}
body #main .block.intro #intro_vid {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
body #main .block.intro #intro_vid:after,
body #main .block.intro #intro_vid:before {
  left: 0;
  width: 100%;
  content: '';
  position: absolute;
  background: repeat-x 0 0;
}
body #main .block.intro #intro_vid:after {
  bottom: 0;
  height: 394px;
  background-position: 0 -165px;
}
body #main .block.intro #intro_vid:before {
  top: 0;
  height: 165px;
}
body #main .block.intro #intro_vid video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
body #main .block.intro #intro_vid .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 180px; 
}
body #main .overlay .container{
  display: none;
}

body #main .screen{
  width: 100%;
  min-height: 280px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.15);
  color: rgba(255, 255, 255, 0.15);
  position: relative;
  z-index: 1000;
  display: none;
}

body .cta.cta1{
  -webkit-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  -webkit-box-shadow: 0 0 10px 5px rgba(255,255,255,0.2);
  box-shadow: 0 0 10px 5px rgba(255,255,255,0.2);
  display: inline-block;
  background-color: #c90f0f;
  padding: 10px 50px 10px 50px;
  color: #fff;
  cursor: pointer;
  cursor: hand;
  border: none;
  outline: none; 
  font-size: 18px;
  text-decoration: none;
}

body .cta.cta2{
  -webkit-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  -webkit-box-shadow: 0 0 10px 5px rgba(255,255,255,0.2);
  box-shadow: 0 0 10px 5px rgba(255,255,255,0.2);
  display: inline-block;
  background-color: #c90f0f;
  padding: 10px 50px 10px 50px;
  color: #fff;
  cursor: pointer;
  cursor: hand;
  border: none;
  outline: none; 
  font-size: 18px;
  text-decoration: none;
}

body .cta.cta3{
  -webkit-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  -webkit-box-shadow: 0 0 10px 5px rgba(255,255,255,0.2);
  box-shadow: 0 0 10px 5px rgba(255,255,255,0.2);
  display: inline-block;
  background-color: #c90f0f;
  padding: 5px 10px 1px 10px;
  color: #fff;
  cursor: pointer;
  cursor: hand;
  border: none;
  outline: none; 
  font-size: 28px;
  text-decoration: none;
}

@media screen and (min-height: 1050px) {

}

@media screen and (max-width:920px) {

}

@media screen and (max-width:780px) {

  body.home #main .block.intro {
    height: auto;
    min-height: 0;
  }


}

@media screen and (max-width:580px) {


}




/* ------------------------------------------------------------------------------------------------ */
/* Drop Zone
/* ------------------------------------------------------------------------------------------------ */
body .screen.screen-drop-zone{
    z-index: 1001;
    cursor: pointer;
    cursor: hand;    
}

body .screen.screen-drop-zone .txt{
    padding-top: 70px;
    padding-bottom: 200px;
}

body .screen.screen-drop-zone .imoon{
  font-size: 90px;
  color: rgba(15, 201, 94, 0.5);
  width: 1.1em;
  height: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(255,255,255,0.2);
  padding: 40px 100px 40px 100px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;  
}

body .screen.screen-drop-zone #drop-zone {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

body .screen.screen-drop-zone #drop-zone.over{
    border: 5px dotted #0fc95e;
}

body .screen.screen-drop-zone #drop-zone p{
  font-size: 22px;
  color: #fff;
  margin-top: 240px;
}

body .screen.screen-drop-zone #drop-zone a{
  font-size: 22px;
}


/* ------------------------------------------------------------------------------------------------ */
/* Checking Screen
/* ------------------------------------------------------------------------------------------------ */
body .screen.screen-check-bar .txt{
    padding-top: 70px;
    text-align: center
}

body .screen.screen-check-bar #floatingBarsG{
    margin-bottom: 40px;
}


/* ------------------------------------------------------------------------------------------------ */
/* Converting Screen
/* ------------------------------------------------------------------------------------------------ */
body .screen.screen-converting-bar .txt{
    padding-top: 70px;
    text-align: center
}

body .screen.screen-converting-bar #floatingBarsG{
    margin-bottom: 40px;
}



/* ------------------------------------------------------------------------------------------------ */
/* Error screen
/* ------------------------------------------------------------------------------------------------ */
body .screen.screen-error-bar .txt{  
    padding-bottom: 40px;   
}
body .screen.screen-error-bar .txt.icon{
    padding-top: 70px;
    text-align: center;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    padding-bottom: 40px;    
}


body .screen.screen-error-bar .imoon{
    font-size: 180px;
    padding-bottom: 40px;
}


/* ------------------------------------------------------------------------------------------------ */
/* Download screen
/* ------------------------------------------------------------------------------------------------ */

body .screen.screen-download-bar .txt{  
    padding-bottom: 40px;   
}
body .screen.screen-download-bar .txt.icon{
    padding-top: 40px;
    text-align: center;
    padding-bottom: 40px; 
    color: rgba(15, 201, 94, 0.5);       
}


body .screen.screen-download-bar .txt.icon .imoon{
    font-size: 120px;
    padding-bottom: 40px;
}



body .screen.screen-download-bar #html_code{
  -webkit-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  -webkit-box-shadow: 0 0 10px 5px rgba(255,255,255,0.2);
  box-shadow: 0 0 10px 5px rgba(255,255,255,0.2);
  display: block;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.5);
  padding: 0px;
  cursor: pointer;
  cursor: hand;
  border: none;
  outline: none; 
  font-size: 18px;
  width: 100%;
  overflow: hidden;
  height: 1.8em;
  line-height: 1.8em;
}


body .screen.screen-download-bar .cta{
  margin-left: 82px;
}

body .screen.screen-download-bar .cta:first-child{
  margin-left: 0px;
}

/* ------------------------------------------------------------------------------------------------ */
/* Setup bar
/* ------------------------------------------------------------------------------------------------ */
body .screen.screen-setup-bar .inner{
  text-align: left;
}

body .screen.screen-setup-bar .txt{
    padding-top: 40px; 
    padding-bottom: 40px; 
}


body .screen.screen-setup-bar ul.sizes{
  display: block;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

body .screen.screen-setup-bar ul.sizes li{
  display: inline-block;
  border: 1px solid rgba(255,255,255,0.2);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;  
  margin-right: 20px;
  padding: 20px;
  color: #fff;
  text-align: center
}

body .screen.screen-setup-bar ul.sizes li input[type=radio]{
    width: 1.5em;
    height: 1.5em;
}

body .screen.screen-setup-bar label{
  cursor: pointer;
  cursor: hand;
  color: #fff;
}

body .screen.screen-setup-bar .bootstrap-switch-handle-on{
  background-color: #0fc95e;
}

body .screen.screen-setup-bar .actions{
  text-align: center;
}


/* ------------------------------------------------------------------------------------------------ */
/* Progress bar
/* ------------------------------------------------------------------------------------------------ */
body .screen.screen-progress-bar .inner{
    width: 600px !important;
    margin-left: auto;
    margin-right: auto;
}

body .screen.screen-progress-bar .txt{
    padding-top: 40px; 
    padding-bottom: 40px; 
}



/* ------------------------------------------------------------------------------------------------ */
/* Uplaod File
/* ------------------------------------------------------------------------------------------------ */

#browse-file{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  visibility: hidden;
}




/* ------------------------------------------------------------------------------------------------ */
/* Flash message
/* ------------------------------------------------------------------------------------------------ */

.flashmsg{
    font-size: 18px;
    color: #fff;
    min-height: 65px;
    text-align: center
}

.flashmsg div{
    padding-top: 20px;
    padding-bottom: 20px;
    display: none;
}

.flashmsg div p{
    display: inline;
}

.flashmsg div strong{
  color: #0fc95e; 
}

.flashmsg div.error{
    background-color: #9a1a1c;

}

.flashmsg div.success{
    background-color: #0fc95e;
}

.flashmsg div.info{

}

.flashmsg div.warning{
    background-color: #ffb600;
    color: #4F523A !important;
}

.flashmsg div.warning p{
  color: #4F523A !important;
}


/* ------------------------------------------------------------------------------------------------ */
/* Spinner
/* ------------------------------------------------------------------------------------------------ */


#floatingBarsG{
    position:relative;
    width:80px;
    height:99px;
    margin-left: auto;
    margin-right: auto;
}

.blockG{
    position:absolute;
    background-color:#FFFFFF;
    width:13px;
    height:31px;
    -moz-border-radius:11px 11px 0 0;
    -moz-transform:scale(0.4);
    -moz-animation-name:fadeG;
    -moz-animation-duration:1.6800000000000002s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -webkit-border-radius:11px 11px 0 0;
    -webkit-transform:scale(0.4);
    -webkit-animation-name:fadeG;
    -webkit-animation-duration:1.6800000000000002s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -ms-border-radius:11px 11px 0 0;
    -ms-transform:scale(0.4);
    -ms-animation-name:fadeG;
    -ms-animation-duration:1.6800000000000002s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -o-border-radius:11px 11px 0 0;
    -o-transform:scale(0.4);
    -o-animation-name:fadeG;
    -o-animation-duration:1.6800000000000002s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    border-radius:11px 11px 0 0;
    transform:scale(0.4);
    animation-name:fadeG;
    animation-duration:1.6800000000000002s;
    animation-iteration-count:infinite;
    animation-direction:linear;
}

#rotateG_01{
    left:0;
    top:36px;
    -moz-animation-delay:0.6300000000000001s;
    -moz-transform:rotate(-90deg);
    -webkit-animation-delay:0.6300000000000001s;
    -webkit-transform:rotate(-90deg);
    -ms-animation-delay:0.6300000000000001s;
    -ms-transform:rotate(-90deg);
    -o-animation-delay:0.6300000000000001s;
    -o-transform:rotate(-90deg);
    animation-delay:0.6300000000000001s;
    transform:rotate(-90deg);
}

#rotateG_02{
    left:10px;
    top:13px;
    -moz-animation-delay:0.8400000000000001s;
    -moz-transform:rotate(-45deg);
    -webkit-animation-delay:0.8400000000000001s;
    -webkit-transform:rotate(-45deg);
    -ms-animation-delay:0.8400000000000001s;
    -ms-transform:rotate(-45deg);
    -o-animation-delay:0.8400000000000001s;
    -o-transform:rotate(-45deg);
    animation-delay:0.8400000000000001s;
    transform:rotate(-45deg);
}

#rotateG_03{
    left:34px;
    top:4px;
    -moz-animation-delay:1.05s;
    -moz-transform:rotate(0deg);
    -webkit-animation-delay:1.05s;
    -webkit-transform:rotate(0deg);
    -ms-animation-delay:1.05s;
    -ms-transform:rotate(0deg);
    -o-animation-delay:1.05s;
    -o-transform:rotate(0deg);
    animation-delay:1.05s;
    transform:rotate(0deg);
}

#rotateG_04{
    right:10px;
    top:13px;
    -moz-animation-delay:1.2600000000000002s;
    -moz-transform:rotate(45deg);
    -webkit-animation-delay:1.2600000000000002s;
    -webkit-transform:rotate(45deg);
    -ms-animation-delay:1.2600000000000002s;
    -ms-transform:rotate(45deg);
    -o-animation-delay:1.2600000000000002s;
    -o-transform:rotate(45deg);
    animation-delay:1.2600000000000002s;
    transform:rotate(45deg);
}

#rotateG_05{
    right:0;
    top:36px;
    -moz-animation-delay:1.4700000000000002s;
    -moz-transform:rotate(90deg);
    -webkit-animation-delay:1.4700000000000002s;
    -webkit-transform:rotate(90deg);
    -ms-animation-delay:1.4700000000000002s;
    -ms-transform:rotate(90deg);
    -o-animation-delay:1.4700000000000002s;
    -o-transform:rotate(90deg);
    animation-delay:1.4700000000000002s;
    transform:rotate(90deg);
}

#rotateG_06{
    right:10px;
    bottom:9px;
    -moz-animation-delay:1.6800000000000002s;
    -moz-transform:rotate(135deg);
    -webkit-animation-delay:1.6800000000000002s;
    -webkit-transform:rotate(135deg);
    -ms-animation-delay:1.6800000000000002s;
    -ms-transform:rotate(135deg);
    -o-animation-delay:1.6800000000000002s;
    -o-transform:rotate(135deg);
    animation-delay:1.6800000000000002s;
    transform:rotate(135deg);
}

#rotateG_07{
    bottom:0;
    left:34px;
    -moz-animation-delay:1.8900000000000001s;
    -moz-transform:rotate(180deg);
    -webkit-animation-delay:1.8900000000000001s;
    -webkit-transform:rotate(180deg);
    -ms-animation-delay:1.8900000000000001s;
    -ms-transform:rotate(180deg);
    -o-animation-delay:1.8900000000000001s;
    -o-transform:rotate(180deg);
    animation-delay:1.8900000000000001s;
    transform:rotate(180deg);
}

#rotateG_08{
    left:10px;
    bottom:9px;
    -moz-animation-delay:2.1s;
    -moz-transform:rotate(-135deg);
    -webkit-animation-delay:2.1s;
    -webkit-transform:rotate(-135deg);
    -ms-animation-delay:2.1s;
    -ms-transform:rotate(-135deg);
    -o-animation-delay:2.1s;
    -o-transform:rotate(-135deg);
    animation-delay:2.1s;
    transform:rotate(-135deg);
}

@-moz-keyframes fadeG{
0%{
background-color:#8caaa8}

100%{
background-color:#FFFFFF}

}

@-webkit-keyframes fadeG{
0%{
background-color:#8caaa8}

100%{
background-color:#FFFFFF}

}

@-ms-keyframes fadeG{
0%{
background-color:#8caaa8}

100%{
background-color:#FFFFFF}

}

@-o-keyframes fadeG{
0%{
background-color:#8caaa8}

100%{
background-color:#FFFFFF}

}

@keyframes fadeG{
0%{
background-color:#8caaa8}

100%{
background-color:#FFFFFF}

}
